
/* #topDiv{
  width: 100%;
  height: 38vh;
}

#midDiv{
  width: 100%;
  height: 10vh;
}

#spectrumDiv{
  width: 100%;
  height: 38vh;
}

#mapDiv{
  width: 100%;
  height: 86vh;
} */

.dot{
  height: 25px;
  width: 25px;
  color: white;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

