{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %} Base {% endblock %}
        </title>
        {% block basecss %} 
        <!-- OFFLINE -->
        <link rel="stylesheet" href="{% static 'screen_height/bootstrap-5.3.0.min.css' %}">
        <link rel="stylesheet" href="{% static 'screen_height/base.css' %}">

        <!-- ONLINE -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->        
        {% endblock %}
        {% block layout01css %}{% endblock %}
        {% block indexcss %}{% endblock %}    
    </head>
    <body>
        <div id="bodyDiv" style="text-align: center; background-color:#1fb2d6">
            {% block bodyblock %}
                This is base bodyblock.
            {% endblock %}
            {{ frlData|json_script:"frl_data" }}
        </div>
    </body>

    {% block basejs %} 
    <!-- OFFLINE -->
    <script src="{% static 'screen_height/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'screen_height/bootstrap.bundle-5.3.0.min.js' %}"></script>   
    <script type="text/javascript" src="{% static 'screen_height/base.js' %}"></script>
    
    <!-- ONLINE -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> --> 
    {% endblock %}
    {% block layout01js %}{% endblock %}
    {% block indexjs %}{% endblock %}
</html>