{% extends 'screen_height/layout01.html' %}
{% load static %}

{% block title %} screen_height {% endblock %}

{% block indexNav %}
<span class="btn-group justify-content-end" role="group" aria-level="Basic mixed styles example">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="onoff" onclick="toggleTest('off')">
        <label class="form-check-label" id="onOffLabel" for="onlineOffline">OFF</label>
    </div> &nbsp; &nbsp;
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            <span id="isGPSConnected" class="dot">G</span>
            <span id="isDetectorConnected" class="dot">D</span>
            <span id="isSpectrumConnected" class="dot">S</span> 
        </a>
        <ul class="dropdown-menu" style="background-color: transparent">
            <li>      
                <div class="row justify-content-center h-20">            
                    <button id="demoButton" type="button" class="btn btn-danger" onclick="demoStart()">
                        Demo
                    </button>  
                </div>  
            </li>
        </ul>
    </div>
</span>

{% endblock %}
            

{% block indexcss %} 
    <link rel="stylesheet" href="{% static 'screen_height/topView.css' %}">
    <link rel="stylesheet" href="{% static 'screen_height/mapView.css' %}">
    <link rel="stylesheet" href="{% static 'screen_height/spectrumView.css' %}">
    
    <!-- <link rel="stylesheet" href="{% static 'screen_height/indexView.css' %}"> -->

    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/> -->
{% endblock %}



<!-- {% block navtitleblock %} screen_height Online Monitoring {% endblock %} -->
<!-- {% block dtblock %} 
    <span id="dt" style="color: brown">DateTime</span> 
{% endblock %} -->

{% block mapblock %} 
    <!-- <div id="mapDiv"> -->
        <div id="map" style="text-align: center;">map</div>
    <!-- </div> -->
{% endblock %}
    

{% block spectrumblock %}        
    <div class="chart-container" style="position: relative;">
        <canvas id="myChart"></canvas>
    </div>
{% endblock %}

{% block datablock %}

{% endblock %}

{% block topblock %}

{% endblock %}
  
{% block indexjs %}     
    <!-- <script src="{% static 'screen_height/leaflet.rotatedMarker.js' %}"></script> -->
    <script src="{% static 'screen_height/index.js' %}"></script>

    <!-- <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script> -->

    <script>        
    </script>
{% endblock %}