{% extends 'screen_height/base.html' %}
{% load static %}

{% block title %} Layout01 {% endblock %} 
{% block layout01css %}
 <!-- OFFLINE -->
 <link rel="stylesheet" href="{% static 'screen_height/layout01.css' %}">

 <!-- ONLINE -->
{% endblock %}  
{% block bodyblock %}
    
    <nav id="navBar" class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'screen_height/atom.png' %}" width="40" height="40" class="d-inline-block align-top" alt="BARC">
                Mobile Radiological Surveillance Laboratory
            </a>

            <span class="navbar-text ms-auto mb-2 mb-lg-0">  
                {% block indexNav %}{% endblock %}            
                &nbsp; 
            </span> 
                        
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    
                    <span id="dt" style="color: brown">DateTime</span> &nbsp;
                    <img src="{% static 'screen_height/StartIndia.png' %}" width="30" height="30" class="d-inline-block align-top" alt="BARC">
                </a>
                <ul class="dropdown-menu" style="background-color: transparent">
                    <li>
                        <form id="minLimit" method="POST">
                            <div class="row justify-content-center h-20">
                            {% csrf_token %}                        
                            <button type="button" class="btn btn-primary" style="opacity: 1.0;" onclick="htmlToViews('minDistanceLimit')">
                                minDistance <span id="minDistance" class="badge test-bg-secondary" style="background-color: hotpink">30</span>m
                            </button>    
                            </div>                    
                        </form>
                    </li>
                    <li>
                        <form id="screenLimit" method="POST">
                            <div class="row justify-content-center h-20">
                            {% csrf_token %}                        
                            <button type="button" class="btn btn-secondary" onclick="htmlToViews('screenHeightLimit')">
                                ScreenHeight <span id="screenHeight" class="badge test-bg-secondary" style="background-color: darkmagenta">833</span>px
                            </button>    
                            </div>                    
                        </form>
                    </li>
                </ul>
            </div>   
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-8" style="text-align: center; background-color: #CBD18F">
                <div id="mapDiv">
                    {% block mapblock %} map block {% endblock %} 
                </div>       
            </div>
      
            <div class="col-sm-4">
                <div class="row content">
                    <div class="col-sm-12" style="text-align: center; background-color:white">
                        <div id="spectrumDiv">
                            {% block spectrumblock %} spectrum block {% endblock %}
                        </div>
                    </div>
                </div>
                <!-- <div class="row content">
                    <div class="col-sm-12" style="text-align: center; background-color:#d32f89">
                        <div id="midDiv">
                            {% block midblock %} mid block {% endblock %}
                        </div>
                    </div>
                </div>  -->
                <div class="row content">
                    <div class="col-sm-12" style="text-align: center; background-color:#7fd8be">
                        <div id="topDiv">
                            {% block topblock %} top block {% endblock %}
                        </div>
                    </div>
                </div>              
            </div>
        </div>
        <div class="row content">
            <div class="col-sm-12" style="text-align: center; background-color: #3ba752">
                <div id="dataDiv">
                    {% block datablock %} data block {% endblock %} 
                </div>       
            </div>
        </div>
    </div>

    <footer id="footerBar" class=" col-sm-12 container-fluid text-center bg-dark text-center text-lg-start">          
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <!-- <div class="text-light">
                <spcn style="color: white; font-style: italic; font-size: 0.5em; text-align: left;">for Querry/Issue contact Govinda 022-2559-6982 </spcn> 
                <span style="text-align: center; color: white;"> &#169; | DAE | <i class='far fa-handshake' style='font-size:16px;color:#ff7f50'>| Make In India |</i> | BARC | &#169; </span>
                <spcn style="color: white; font-style: italic; font-size: 0.5em; text-align: right;">for Querry/Issue contact Govinda 022-2559-6982 </spcn>
            </div> -->
            <div class="container">
                <div class="row">
                    <div class="col col-sm-3" style="text-align: left; color: white; font-style: italic; font-size: 0.8em;">
                    </div>
                    <div class="col col-sm-6" style="text-align: center; color: white;">
                        &#169; | DAE | <i class='far fa-handshake' style='font-size:1em;color:#ff7f50'>| Make In India |</i> | BARC | &#169;
                    </div>
                    <div class="col col-sm-3" style="text-align: right; color: white; font-style: italic; font-size: 0.8em;">
                        <br>for Query/Issue contact 022-2559-6982 (Govinda)
                    </div>
                </div>
              </div>
        </div>
    </footer>
      
{% endblock %}

{% block layout01js %}
<!-- OFFLINE -->  
<script type="text/javascript" src="{% static 'screen_height/layout01.js' %}"></script>

<!-- ONLINE -->

<script>     
function htmlToViews(calledFrom)
{
    htmlToViewsValue = "Null";
    console.log("calledFrom: " + calledFrom);
    if(calledFrom == "connect")
    {
        selectElement = document.querySelector('#port_list');
        htmlToViewsValue = selectElement.value;
        document.getElementById("func6").innerHTML = htmlToViewsValue;
    }
    else if(calledFrom == "screenHeightLimit"){
        let screenHeightTemp = 700;
        do{
            selectedHeightTemp = parseInt(window.prompt("Enter a number between 1 and 2048", 5));
        }while(isNaN(selectedHeightTemp) || selectedHeightTemp > 2048 || selectedHeightTemp < 1);
        htmlToViewsValue = selectedHeightTemp;
    }
    else if(calledFrom == "minDistanceLimit"){
        let alarmLimitTemp = 0;
        do{
            alarmLimitTemp = parseFloat(window.prompt("Enter a number between 0.001 and 10000", 56));
        }while(isNaN(alarmLimitTemp) || alarmLimitTemp > 10000 || alarmLimitTemp < 0.001);
        htmlToViewsValue = alarmLimitTemp;
    }
    
    $.ajax({
                url: "{% url 'htmlToViewUrl' %}",
                type: 'POST',
                data:  {'submit':true, 'calledFrom': calledFrom, 'htmlToViewsValue': htmlToViewsValue, csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),}, // An object with the key 'submit' and value 'true;
                //data: selectElement.value,
                success: function(response){
                    // console.log(response);

                    // taInfo01.value =  taInfo01.value + "\n" + JSON.stringify(response["Call"]) + " : " + JSON.stringify(response["Value"]);
                    // console.log("scrollTop = " + taInfo01.scrollTop);
                    // console.log("scrollHeight = " + taInfo01.scrollHeight);
                    // taInfo01.scrollTop = taInfo01.scrollHeight;

                    // taInfo02.value =  taInfo02.value + "\n" + JSON.stringify(response["Call"]) + " : " + JSON.stringify(response["Result"]);
                    // console.log("scrollTop = " + taInfo02.scrollTop);
                    // console.log("scrollHeight = " + taInfo02.scrollHeight);
                    // taInfo02.scrollTop = taInfo02.scrollHeight;

                    callerFunc = JSON.stringify(response["Call"]);
                    callerFunc = callerFunc.replaceAll('"', '');
                    callerVal =  JSON.stringify(response["Value"]);
                    callerVal = callerVal.replaceAll('"', '');
                    callerResult = JSON.stringify(response["Result"]);
                    callerResult = callerResult.replaceAll('"', '');
                    callerDT = "" + getDT();


                    console.log(callerFunc + " : " + callerVal + " : " + callerResult);

                    // taInfo01.value =  taInfo01.value + "\n" + callerDT + " [ " + callerFunc + " : " + callerVal + " ] ";
                    // console.log("scrollTop = " + taInfo01.scrollTop);
                    // console.log("scrollHeight = " + taInfo01.scrollHeight);
                    // taInfo01.scrollTop = taInfo01.scrollHeight;

                    // taInfo02.value =  taInfo02.value + "\n" + callerDT + " [ " + callerFunc + " : " + callerResult + " ] ";
                    // console.log("scrollTop = " + taInfo02.scrollTop);
                    // console.log("scrollHeight = " + taInfo02.scrollHeight);
                    // taInfo02.scrollTop = taInfo02.scrollHeight;

                    // console.log("outside callerFunc refresh 2" + htmlToViewsValue);
                    if(callerFunc == "screenHeightLimit")
                    {
                        console.log("screenHeight ureka3");
                        bodyDivHeight = parseInt(callerVal);
                        // document.getElementById("screenHeight").innerHTML = bodyDivHeight;
                        bodydiv.style.height = bodyDivHeight;
                        console.log(bodyDivHeight);
                        location.reload();
                    }
                    else if(callerFunc == "minDistanceLimit")
                    {
                        // console.log("lSlabAlarm ureka3");
                        // minDistanceMarker = parseFloat(callerVal);
                        // document.getElementById("minDistance").innerHTML = minDistanceMarker;
                        // bodydiv.style.height = bodyDivHeight;
                        // console.log(bodyDivHeight);
                        // location.reload();
                    }
                    else{
                        console.log("not refresh");
                    }
                },

                error: function(response){
                    // console.log(response);
                    
                    // taInfo01.value =  taInfo01.value + "\n" + JSON.stringify(response["Call"]) + " : " + JSON.stringify(response["Value"]);
                    // console.log("scrollTop = " + taInfo01.scrollTop);
                    // console.log("scrollHeight = " + taInfo01.scrollHeight);
                    // taInfo01.scrollTop = taInfo01.scrollHeight;

                    // taInfo02.value =  taInfo02.value + "\n" + JSON.stringify(response["Call"]) + " : " + JSON.stringify(response["Result"]);
                    // console.log("scrollTop = " + taInfo02.scrollTop);
                    // console.log("scrollHeight = " + taInfo02.scrollHeight);
                    // taInfo02.scrollTop = taInfo02.scrollHeight;

                    callerFunc = "Error";
                    callerVal =  response;
                    callerResult = false;
                    callerDT = "" + getDT();

                    console.log(callerFunc + " : " + callerVal + " : " + callerResult);

                    // taInfo01.value =  taInfo01.value + "\n" + callerDT + " [ " + callerFunc + " : " + callerVal + " ] ";
                    // console.log("scrollTop = " + taInfo01.scrollTop);
                    // console.log("scrollHeight = " + taInfo01.scrollHeight);
                    // taInfo01.scrollTop = taInfo01.scrollHeight;

                    // taInfo02.value =  taInfo02.value + "\n" + callerDT + " [ " + callerFunc + " : " + callerResult + " ] ";
                    // console.log("scrollTop = " + taInfo02.scrollTop);
                    // console.log("scrollHeight = " + taInfo02.scrollHeight);
                    // taInfo02.scrollTop = taInfo02.scrollHeight;
                }
            });
}
</script>
{% endblock %}

